{% extends 'layouts/base_init.html.twig' %}

{% block title %}Log in{% endblock %}

    {% block main %}
        <div class="container" style="display: flex; justify-content: center; align-items: center; height: 50vh; margin-top: 12vh;">
            <article style="margin-top: 35vh; width: calc(10vw + 300px); background-color: rgba(245, 186, 65, 0.1); flex-direction: column; height: 60vh; display: flex; justify-content: space-evenly; align-items: center; border-radius: 20px; border: 4px #F5BA41 solid; text-align: center;">
                <div style="width: calc(100% - 20px); height: 9vh; ">
                    <img src="{{ asset('images/main/security/email.png') }}" class="figure-img img-fluid rounded m-2 me-3" style="padding-bottom: 16px;">
                    <span class="sm-screen" style="font-size: 36px; user-select: none">Log in with Email</span>
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <form method="post" action="/login_email" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" autocomplete="off"  value="{% if email is defined %} {{ email }} {% endif %}" maxlength="255" required>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" maxlength="255" required>
                    <div class="m-2">
                        {% if error is not null %}
                            <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="form-label submit" style="margin-top: 1.8rem; width: calc((10vw + 180px)/2); background-color: rgba(245,186,65,.8); height: 7vh; border: 2px #F5BA41 solid; border-radius: 10px; display: flex; justify-content: center; align-items: center;">Submit</button>
                </form>

            </article>
        </div>
    {% endblock %}